@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 100% 20%;

    --card: 0 0% 100%;
    --card-foreground: 216 100% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 100% 20%;

    --primary: 216 100% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 216 100% 20%;

    --muted: 0 0% 96%;
    --muted-foreground: 220 9% 46%;

    --accent: 216 100% 95%;
    --accent-foreground: 216 100% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 216 100% 30%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 216 100% 10%;
    --foreground: 0 0% 98%;

    --card: 216 100% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 216 100% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 216 100% 20%;

    --secondary: 216 50% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 216 50% 15%;
    --muted-foreground: 220 20% 65%;

    --accent: 216 50% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 50% 15%;
    --input: 216 50% 15%;
    --ring: 216 100% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}